<?xml version="1.0" encoding="utf-8" ?>
<logging publisher-port="8523" listener-port="8524">
  <nohros xmlns="http://nohros.com/schemas/nohros.xsd">
    <providers>
      <!-- Other providers -->
      <provider
        name ="LoggingProvider"
        type="Nohros.Logging.log4net.LegacyLogger, nohros.logging.log4net">
      </provider>

      <provider
        name="AggregatorDataProvider"
        type="Nohros.Ruby.Logging.MongoAggregatorDataProvider, nohros.ruby.logging">
        <options
          connection-string="mongodb://nohros:Noors03*@nohrosforwarder.dyndns.org"
          database-name="ruby"/>
      </provider>
    </providers>

    <xml-elements>
      <log4net>
        <appender name="Console" type="log4net.Appender.ConsoleAppender">
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%date %-5level/%thread] %message%newline %exception"/>
          </layout>
        </appender>

        <root>
          <level value="DEBUG"/>
          <appender-ref ref="Console"/>
        </root>
      </log4net>
    </xml-elements>
  </nohros>
</logging>
