<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfigurationFile" value="~/ruby.config"/>
  </appSettings>

  <connectionStrings>
    <add name="SiteSqlServer" connectionString=""/>
    <add name="SiteSqlServerOwner" connectionString="dbo"/>
  </connectionStrings>
</configuration>