<?xml version="1.0" encoding="utf-8" ?>
<ruby
  idleTimeout="0"
  >

  <providers>
    <add
      name="CommonDataProvider"
      type="Nohros.Ruby.Data.SqlCommonDataProvider, Nohros.Ruby.SqlDataProvider"
      connectionStringName="SiteSqlServer" databaseOwnerName="SiteSqlServerOwner"
      />
  </providers>
</ruby>
