<?xml version="1.0" encoding="utf-8" ?>
<tracker>
  <nohros>
    <providers>
      <options name="ThorServer">
        <option name="server" value="192.168.203.186"/>
        <option name="login" value="nohros"/>
        <option name="password" value="Noors03"/>
      </options>

      <provider
        name="ServicesRepository"
        type="Nohros.Ruby.Data.Sql.SqlServicesRepositoryFactory, nohros.ruby.tracker">
        <options>
          <option ref="ThorServer"/>
          <option name="database" value="ruby"/>
        </options>
      </provider>
    </providers>
  </nohros>
</tracker>