<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="clrzmq" version="2.2.3" />
  <package id="Google.ProtocolBuffers" version="2.4.1.473" />
  <package id="log4net" version="2.0.0" />
  <package id="must.common" version="0.9.5" />
  <package id="must.desktop" version="0.7.1" />
  <package id="must.logging.log4net" version="0.1.0" />
  <package id="must.logging.log4net" version="0.2.0" />
  <package id="nohros.mytoolspack" version="0.3.3" />
</packages>