<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="clrzmq" version="2.2.5" />
  <package id="Google.ProtocolBuffers" version="2.4.1.473" />
  <package id="must.common" version="1.3.7" targetFramework="net40" />
  <package id="must.desktop" version="0.7.2" targetFramework="net40" />
  <package id="nohros.mytoolspack" version="0.3.7" targetFramework="net40" />
</packages>