<?xml version="1.0" encoding="utf-8" ?>
<ruby
  stop-service-timeout="3000"
  running-mode="interactive"
  prompt="rubynet$: "
  log-level="INFO"
  self-host="false"
  >
  <nohros>
    <options name="ThorServer">
      <option name="server" value="192.168.203.186"/>
      <option name="login" value="REMOVED"/>
      <option name="password" value="REMOVED"/>
    </options>

    <provider
      name="ServicesRepository"
      type="Nohros.Ruby.Data.Sql.SqlServicesRepositoryFactory, nohros.ruby.tracker">
      <options>
        <option ref="ThorServer"/>
        <option name="database" value="ruby"/>
      </options>
    </provider>
    
    <providers>
      <provider
        name ="LogProvider"
        type="Nohros.Logging.log4net.LegacyLoggerFactory, nohros.logging.log4net">
      </provider>

      <provider
        name="ServicesRepository"
        type="Nohros.Ruby.Data.SQLite.SQLiteServicesRepositoryFactory, nohros.ruby.tracker"/>
    </providers>

    <xml-elements>
      <log4net>
        <appender name="Console" type="log4net.Appender.ConsoleAppender">
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level - %message%newline"/>
          </layout>
        </appender>

        <root>
          <level value="INFO"/>
          <appender-ref ref="Console"/>
        </root>
      </log4net>
    </xml-elements>
  </nohros>
</ruby>